p {
    margin: 0;
}

@media (min-width: 1100px) {
    .program {
        float: left;
        width: 50%;
    }

    .output {
        float: right;
        width: 50%;
    }
}

textarea#program {
    width: 95%;
    height: 30em;
    white-space: pre;
    font-size: 16px;
    line-height: 1.2;
}

textarea.hidden {
    display: none;
}

textarea#javascript {
    width: 95%;
    height: 18em;
    white-space: pre;
    display: none;
}

textarea#output {
    width: 95%;
    height: 28em;
}
